<div class="container-fluid">

  <div class="jumbotron" style="background-image:url('images/bg.jpg')">
    <h1>Practice Questions</h1>
  </div> 

  <div class="row">
  <div class="col-md-4 center" id="wrapper" ><a href="#/biology" ><img src="images/bio.png" class="img-rounded" alt="biology" width="140" height="136"><p>Biology</p></a></div>

   <div class="col-md-4 center" id="wrapper"><a href="#"><img src="images/phy.png" class="img-rounded" alt="physics" width="140" height="136"><p>Physics</p></a></div>

   <div class="col-md-4 center" id="wrapper"><a href="#"><img src="images/math.png" class="img-rounded" alt="mathematics" width="140" height="136"><p>Mathematics</p></a></div>
 </div> 	
 <div class="row">
   <div class="col-md-4 center" id="wrapper"><a href="#"><img src="images/chem.png" class="img-rounded" alt="chemistry" width="140" height="136" align="center"><p>Chemistry</p></a></div>

   <div class="col-md-4 center" id="wrapper"><a href="#"><img src="images/geo.png" class="img-rounded" alt="geography" width="140" height="136"><p>Geography</p></a></div>

   <div class="col-md-4 center" id="wrapper"><a href="#"><img src="images/hist.jpg" class="img-rounded" alt="history" width="140" height="136"><p>History</p></a></div>
  </div> 
 

